// main

body {
  margin: 0 5%;
  color: $tsBlack;
}

.balance {
  background: transparentize($tsGold, 0.9);
  margin: 1em 0;
  padding: 0.5em 5%;
}

.donors {
  background: transparentize($tsGold, 0.9);
  margin: 1em 0;
  padding: 0.5em 5%;

  list-style: none;

  li {
    margin: 0;
    padding: 0 0 0 1.4em;

    i {
      color: $tsGold;
    }
  }
}

.about {
  background: transparentize($tsGold, 0.9);
  margin: 1em 0;
  padding: 0.5em 5%;
}