// REM Font Size Mixin
html {
  font-size: 62.5%;
}
@mixin font-size ( $size: 14 ) {
  font-size: $size + px;
  font-size: $size/10 + rem;
}
body {
  @include font-size( 16 );
}

// Colors
// https://github.com/Threespot/tsm-maestro/blob/master/app/assets/stylesheets/globals/_colors.scss
$tsBlack: #16161D;
$tsGray: #afb8c0;
$tsYellow: #f0b336;
$tsOrange: #f1711a;
$tsBlue: #2462b4;
$tsBlueGray: #afb8c0;
$tsPurple: #9626ac;
$tsWhite: #fefefe;
$tsGreen: #2ba352;
$tsDarkGray: #7f868c;
$tsRed: #e12037;

// Jake Archibalds Sass-IE
// http://jakearchibald.github.io/sass-ie/
$fix-mqs: false !default;
@mixin respond-min($width) {
  @if $fix-mqs {
    @if $fix-mqs >= $width {
      @content;
    }
  }
  @else {
    @media screen and (min-width: $width) {
      @content;
    }
  }
}

$old-ie: false !default;
@mixin old-ie {
  @if $old-ie {
    @content;
  }
}

// Helpers
%ir { // Image replacement
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; // IE 6/7 fallback

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

%hidden { // Hide from both screenreaders and browsers
  display: none !important;
  visibility: hidden;
}

%visuallyhidden { // Hide visually
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable:active,
  &.focusable:focus { // Extends the .visuallyhidden class to allow the element to be focusable
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

%invisible { // Hide but maintain layout
  visibility: hidden;
}
